<ul class="nav">
  <li class="nav-item">
    <a class="nav-link text-black" routerLink="/data" routerLinkActive="active"> Data Binding </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-black" routerLink="/hooks" routerLinkActive="active">
      Hooks
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-black" routerLink="/custom" routerLinkActive="active">
      Custom Directives
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-black" routerLink="/parent" routerLinkActive="active">
      Parent
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-black" routerLink="/parent2" routerLinkActive="active">
      Parent2
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-black" routerLink="/sender" routerLinkActive="active">
      Sender
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-black" routerLink="/user" routerLinkActive="active">
      User
    </a>
  </li>
</ul>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>